@import "tailwindcss";

:root {
  --color-space-black: #0e1728;
  --color-cream: #f1e8d7;
}

body {
  font-family: var(--font-roboto-mono), monospace;
  font-size: 1rem;
}

@theme {
  --color-space-black: var(--color-space-black);
  --color-cream: var(--color-cream);
}

/* Settings for small view ports less than or equal to 768px */
/* @media (max-width: 768px) {
  body {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 1rem;
  }
} */